
/* natural box model */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* UTILITIES */

/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* no break */
.nobr {
  white-space: nowrap;
}

/* START STYLES HERE */

body {
  background: #195190FF;
  font-family: 'Montserrat', sans-serif;
  /*color:#A2A2A1FF; */
  color:black;
  font-size:20px;
}

h1 {
	font-family: 'Cormorant SC', serif;
    text-align:center;
	font-size:58px;
	color: #800020;
	padding-top: 20px;
}

.main {
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	max-width:1000px;
	margin: 0 auto;
	margin-top:10px;
	border: 15px solid #184679;
	border-radius: 35px;
	background: white;
}

.mcontainer {
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	max-width:1200px;
	margin: 0 auto;
  }
 

  
  .mitem {
	width:49%;
	min-width:360px;
	padding:10px;
  }
  
  /*widen some items when viewport shrinks */

  .witem {
	width:49%;
	min-width:360px;
	padding:10px;
  }
  

.about {
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	max-width:450px;
	margin: 0 auto;
	float:left;
	text-align:center;
	margin-left:-70px;
}


.me {
	padding-top:20px;
	max-width:345px;
	margin: 0 auto;
}

.scroller {
	position:relative;
	overflow:hidden;
	margin:auto;
	margin-top:-45px;
	height: 1.2em;
	line-height: 1.2em;
	width: 13em;
	font-size:24px;
}

.scrolltext {
	position: absolute;
	top: 0;
	animation: slide 12s infinite;
	animation-delay:2s;
	text-align:center;
	color: #800020;
	font-size:24px;
	width:100%;
}

.speech {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  /*color:#A2A2A1FF; */
  color:black;
  font-size:17px;
  max-width:340px;
  
}

/* website previews */

.web {
	border: 5px solid #2567b2;
	border-radius: 15px;

	width:100%;
}

.web:hover {
	border: 6px solid #184679;
}


.previews {
	max-width:100%;
}


@keyframes slide {
	0% {
		top: 0;
	}
	8% {
		top:-1.2em;
	}
	25% {
		top: -1.2em;
	}
	33% {
		top:-2.4em;
	}
	50% {
		top: -2.4em;
	}
	58% {
		top:-3.6em;
	}
	75% {
		top: -3.6em;
	}
	83% {
		top:0;
	}
	100% {
		top:0;
	}
}

.resumeholder {
	margin: auto;
	max-width:162px;
	margin-top:55px;
}

.resume {
	padding:8px;
	font-size:24px;
	color: #F8F0E3;
	background-color: #2567b2;
	border: 2px solid #184679;
	font-weight:bold;
	text-decoration: none;
}

.resume:hover {
	background-color:#184679;
	cursor:pointer;
}

.subtitle {
	background-color:rgba(25, 81, 144, 0.301);
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
}

.subtitle > h3 {
	margin-left:25px;
}

/*settings for when viewport is too small for 2 columns */
@media (max-width: 763px) {
	.witem {
		width:90%;
	  }

} 